* {
    box-sizing: border-box;
}

body{
    background-image: url('rink2.png');
    /* background-color:grey; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.game-container{
    display: flex;
}

#canvas{
    background-color: white;
    border-radius: 65px;
}

#canvas2{
    background-color: black;
    margin-left: 55px;
    border-radius: 15px;
    margin-bottom: 150px;
    opacity:.8;
  
}

#canvas3{
    background-color: black;
    border-radius: 5px;
    margin-bottom: 240px;
    opacity: .8;
   
}

.iconify{
    font-size: 40px;
    margin-bottom: 650px;;
   
}

/* #canvas3{
    background-color: yellow;
    margin-left: 75px; */
    /* border-radius: 30px; */
/* } */

