* {
    box-sizing: border-box;
}

body{
    background-image: url('rink2.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#canvas{
    background-color: white;
    border-radius: 65px;
}